@import "tailwindcss";


/* Light Mode Grid Background */


/* .with-fade-gradients {
  position: relative;
  overflow: hidden;
}
.with-fade-gradients::before,
.with-fade-gradients::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 200px;
  pointer-events: none;
  z-index: 10;
}
.with-fade-gradients::before {
  top: 0;
  background: linear-gradient(to bottom, #FBFBFB, rgba(251,251,251,0.9), transparent);
}
.with-fade-gradients::after {
  bottom: 0;
  background: linear-gradient(to top, #FBFBFB, rgba(251,251,251,0.9), transparent);
} */